.jumbotron{
    background-color:  #28282B;
    height: 100%;
    flex: 1;
    margin-bottom: 0px;
}
   

body {
    padding: 0;
    height: 100%;
  }
  
 
 
  
.container {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
   
}

.headingtwo{
    color: #F9A825   ;
    font-family: 'Anton', sans-serif;
    font-size: 300px;
    text-align: center;
}

.text {
    color: #E6E1D4;
    text-align: center;
    

}

.jumbotron{

    padding: 150px;
}



  @media (max-width:1280px) {
    .headingtwo {
    
      font-size: 100px; /* 1.125rem is small enough, so RFS won't rescale this */
    }

    .jumbotron {
      padding: 0;
    }

   
  }

  @media (max-width:579px) {
    .headingtwo {
    
        padding-top: 12px;
        padding-bottom: 12px;
      font-size: 60px; /* 1.125rem is small enough, so RFS won't rescale this */
    }

    p{
        font-size: 12px;
    }
  }