.jumbotron{
    background-color:  #000000;
    height: 100%;
    flex: 1;
    margin-bottom: 0px;
}
   

body {
    padding: 0;
    height: 100%;
  }
  
  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
 
  
.container {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0px;
   
   
}

.headingtwo{
    color: #388E3C   ;
}

.text {
    color: #FFFFFF;

}

.jumbotron{

    padding: 120px;
}



  @media (max-width:768px) {
    .headingtwo {
    
      font-size: 53px; /* 1.125rem is small enough, so RFS won't rescale this */
    }
  }

  @media (max-width:579px) {
    .headingtwo {
    
        padding-top: 12px;
        padding-bottom: 12px;
      font-size: 16px; /* 1.125rem is small enough, so RFS won't rescale this */
    }

    p{
        font-size: 12px;
    }
  }