.jumbotron{
    background-color:  #000000;
    height: 100%;
    flex: 1;
    margin-bottom: 0px;
}
   

body {
    padding: 0;
    height: 100%;
  }
  
  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
 
  
.container {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0px;
   
   
}

.headingtwo{
    color: #388E3C   ;
}

.text {
    color: #FFFFFF;

}

.jumbotron{

    padding: 120px;
}