.contact{

    margin: 0px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #28282B ;

 flex: 1
}


.icons{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.links {
    text-decoration: none;
    color: #F7DC6F ;
}

.links:hover{

    text-decoration: underline;
   color: #F7DC6F;
    
}


.message {

    color: #E6E1D4
}

.btn {

    color: #E6E1D4;
    background-color:#F9A825;
}

.btn:hover{
    color: #F7DC6F;
}

@media (max-width:768px) {
   
    .contact{

        padding: 0px;
    }
  }
