.contact{

    margin: 0px;
    padding: 50px;
    background-color: #28282B ;

 flex: 1
}


.icons{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.links {
    text-decoration: none;
    color: #F7DC6F ;
}

.links:hover{

    text-decoration: none;
    color:#388E3C   ;
    
}


.message {

    color: #E6E1D4
}

@media (max-width:768px) {
   
    .contact{

        padding: 0px;
    }
  }
