.background {

    background-color: #28282B;
}

.title{
    color: #388E3C;
}

.linkss{

    color: #E6E1D4;
}

.linkss:hover {

    color: #388E3C;
}

.project-style {

    padding-left: 150px;
    padding-right: 150px;
    background-color: #28282B;
}