.background {
  background-color: #28282b;
}



.linkss {
  color: #e6e1d4;
  background-color: #F9A825;
  padding: 0.4rem;
  border-radius: 5px;
}

.linkss:hover {
  color: #f7dc6f;
}

.project-style {
  padding-left: 150px;
  padding-right: 150px;
  background-color: #28282b;
}



@media (max-width: 1280px) {
  .project-style {
    padding: 15px;
  }
}

.project-text{
  color: #e6e1d4;
}

.technology-text{
  color: #F9A825;
}

.title{
  color: #F9A825;
}