.background {
  background-color: #28282b;
}

.title {
  color: #388e3c;
}

.linkss {
  color: #e6e1d4;
}

.linkss:hover {
  color: #F9A825;
}

.project-style {
  padding-left: 150px;
  padding-right: 150px;
  background-color: #28282b;
}

@media (max-width: 1280px) {
  .project-style {
    padding: 15px;
  }
}
